@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS Not Tailwind class. Thus placed in a seprate a class*/
header {
  z-index: 10001 !important;
}

/* Common CSS. Used on my locations */
.section-container {
  @apply max-w-screen-2xl container mx-auto xl:px-24 px-4;
}

.title {
  @apply text-4xl md:text-5xl font-bold my-2 md:leading-snug leading-snug;
}

.subtitle {
  @apply text-red uppercase tracking-wide font-medium text-lg;
}

.heartStar {
  border-radius: 0px 28px 0px 28px;
}

.active {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  color: #39db4a;
}
